
.highlight {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .8);
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.vocabulary-option {
    margin-left: 10px;
}
