
.highlight {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .8);
}

.viewer-tab {
    background-color: #efefff;
    border: 1px solid #ddddee;
    border-radius: 5px 5px 0px 0px;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.vocabulary-option {
    margin-left: 10px;
}


