.swac__collection-creator {

	.swac__cc__editor {
		padding:10px;
		.swac__cc__memberships {
			display:flex;
			flex-direction: row;
			justify-content: space-around;
			> * {
				width:48%;
				&:first-child {
					margin-right: 2%;
				}
			}
		}

	}

	#save_btn {
		float:right;
		margin-right:10px;
	}

}