.swac__modal{
  z-index: 1;
  background-color: rgba(#333, 0.8);
  display: block;
  overflow-y: auto;
  left: 20%;
  top: 15%;
  position: fixed;
  width: 60%;

  .swac__m__container{
    position: relative;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    margin: 40px auto;
    padding: 30px;
    height: calc(100% - 80px);
    box-sizing: border-box;
    padding: 0;

    iframe {
      width: 100%;
      height: 100%;
    }

    .swac__m__close{
      background-image: $iconCrossUrl;
      background-position: center right 15px;
      background-repeat: no-repeat;
      background-size: 20px;
      color: white;
      cursor: pointer;
      display: block;
      height: 40px;
      line-height: 40px;
      opacity: 0.8;
      position: absolute;
      right: 0;
      text-shadow: none;
      text-transform: uppercase;
      top: -40px;
      width: 90px;
      font-size: 15px;

      &:hover{
        opacity: 1.0;
      }
    }

  }

}