.swac__login-box {

	.swac__lb__panel {

		display:flex;
		flex-direction: column;
		padding:10px;

		.swac__lb__mode-select {
			display:flex;
			align-items: flex-start;
			margin-bottom:5px;
			label {
				margin-right: 5px;
			}
		}

		.swac__lb__form {
			margin-bottom:5px;
			.swac__lb__form-row {
				display:flex;
				justify-content: flex-start;
				label {
					width:120px;
					font-weight: bold;
					flex-grow:1;
				}
				input {
					flex-grow:3;
				}
			}

		}
	}

}